@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 

<div class="text-center">
    <h1 class="display-4">Welcome To My Pipeline project </h1>
    <p>Learn about <a href="https://www.runoob.com/docker/docker-tutorial.html">Docker Course</a></p>
    <p>Learn about <a href="http://www.bt.cn">baota Server Manager，You will need install Docker plug-in</a></p>
    <p>Learn about <a href="https://www.jenkins.io/">Jenkins Manager，You will need install Docker Image Name：Jenkins </a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> 
</div>
