@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>test web core</p>

<p>我是Test</p>

<p>我是Test2</p>

<p>我是Test3333</p>

<p>我是Test3333</p>

<p>我是Test花木成畦手自栽花木成畦手自栽3333</p>
<p>我是Test花木成畦手自栽花木成畦手自栽3333</p>